<% layout("layouts/boilerplate.ejs") %>

<body>
  <form
    class="new-form needs-validation"
    action="/login"
    method="post"
    novalidate
  >
    <h2 class="form-title">Welcome Back</h2>
    <label for="username" class="form-label">Enter username</label>
    <input
      type="text"
      name="username"
      id="username"
      class="form-control"
      required
    />
    <br /><br />

    <label for="password" class="form-label">Enter password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      required
    />
    <br /><br />
    <p>New User ?<a href="/signup"> create an account</a></p>

    <button class="form-submit-btn btn btn-success">Log In</button>
  </form>
</body>
